
<div class="container-fluid">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myMenu">
      <i class="fa fa-list-ul"></i>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="myMenu">

    <ul class="nav navbar-nav navbar-left">
      <li class="<%= is_active?(root_path) %>">
        <%= link_to "inicio", root_path %>
      </li>
      <li class="dropdown <%= is_active?(products_path) %>">
        <%= link_to  '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
        productos y servicios
        <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <% Category.all.each do |category| %>
          <li><%= link_to category.title, products_path(:category => category.id) %></li>
          <% end %>
        </ul>
      </li>
      <li class="dropdown <%= is_active?(projects_path) %>">
        <%= link_to  '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
        proyectos realizados
        <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <% ProjectType.all.each do |project_type| %>
          <li><%= link_to project_type.title, projects_path(:project_type => project_type.id) %></li>
          <% end %>
        </ul>
      </li>
      <li class="<%= is_active?(contacts_path) %>">
        <%= link_to "contacto", contacts_path %>
      </li>
      <li class="<%= is_active?(posts_path) %>">
        <%= link_to "colaboraciones", posts_path %>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/super_admin/sign_in">Registro</a></li>
      <li>
        <% if super_admin_signed_in? %>
        <%= link_to(destroy_super_admin_session_path, :method => :delete) do %>
        <span class="glyphicon glyphicon-remove-circle" data-toggle="tooltip" data-placement="bottom" title="Sign Out"></span>
        <% end %>
        <% end %>
      </li>
    </ul>

    <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Busqueda de..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </form>
  </div><!-- /.navbar-collapse -->

</div><!-- /.container -->
